[user]
  name = Girts Silis
  email = girts.silis@gmail.com
[giggle]
  main-window-maximized = false
  main-window-geometry = 559x597+0+0
  file-view-vpane-position = 533
  history-view-vpane-position = 309
  main-window-view = HistoryView
[alias]
  co = checkout
  b = branch -v --color
  bv = branch -avv --color
  st = status
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ls = smart-log
  cam = commit -am
  pullr = pull --rebase
  pulr = pull --rebase
  rb = rebase
  rbc = rebase --continue
  unpushed = rev-list HEAD --pretty ^origin/master
  dif = diff
  cp = cherry-pick
  ci = commit
  cav = commit -av
  cv = commit -v
  a = add
  ap = add -p
  apa = add -p .
  undo = reset HEAD^
  puls = smart-pull
  m = smart-merge
  bs = bisect
  bss = bisect start
  bsr = bisect reset
  bsg = bisect good
  bsb = bisect bad
  cleanse = "!git ls-files --others --exclude-standard | xargs rm"
  rma = "!git ls-files --deleted | xargs git rm"
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  tool = vim
[mergetool "vim"]
  cmd = vim -d -g $LOCAL $MERGED $REMOTE
  keepbackup = false
[repack]
  usedeltabaseoffset = true
[core]
  editor = vim
  pager = "less -FRSX"
  excludesfile = ~/.gitignore
  autocrlf = input
[push]
  default = tracking
[filter "media"]
  clean = git-media filter-clean
  smudge = git-media filter-smudge
[init]
  templatedir = ~/.git_template
